.app {
  background-color: #fff;
  color: #000;
  font-size: 3.5em;
  height: 100vh;
}

.codes {
  height: 200px;
  padding: 50px;
  display: flex;
  justify-content: space-around;
}

.codes p {
  margin: 0;
}

.schema {
  height: calc(100vh - 250px);
}

.schema img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.app p {
  text-align: center;
}

.app tt {
  font-size: 1.3em;
}

.app i {
  font-size: 1.1em;
}
